
:root {
--bgdark: #232323;
--bglight: #2e2e2e;
--bglighter: #363636;

--fgdark: #868686;
--fglight: #cccccc;

--accent: #d39ceb;
--border: #2f364a;
--disabled: #696969;
--hover: #ffffff;
}

* {
	font-family: "t kiwi Wide";
	font-size: 10px;
}

/*body, html {
	background-color: var(--bgdark);
}*/

html {
	background: var(--bgdark);
	background-position: top -24px left 0;
	margin-top: -26px;
}

html {
	width: 100vw;
	height: 100vh;
	padding: 0;
	margin: 0;
}

main {
	margin-top: auto;
	display: flex;
	overflow-y: auto;
	flex-flow: row wrap;
	width: 380px;
	position: relative;
	top: -10px;
}

#clock {
	position: relative;
	top: -30px;
	display: flex;
	text-align: center;
}

#time, #date {
	color: var(--fglight);
	display: inline-block;
	margin: 0 5px;
	flex-grow: 1;
	width: 0;
}

#time {
	text-align: left;
}

#date {
	text-align: right;
}

.links {
	padding: 5px 15px;
	width: auto;
	display: block;
	text-align: center;
}

a:visited, a {
	color: var(--fgdark);
	text-decoration: none;
	outline: none;
}

a:not(.tablinks):visited, a:not(.tablinks) {  transition: all 00ms ease 0s; }
a:hover {	color: var(--fglight); }

.slash {
	color: var(--fgdark);
}

main section {
	flex: 1 1 25%;
	box-sizing: border-box;
}

/* Transparent blyrry UI */
/*
html {
	background: url(Blur.png);
	background-size: 100% calc(100vh + 24px);
	background-position: 0% -24px;
}

.box .title,
.box .content {
	background: #00000022;
}

.box:hover .title {
	background: #fff;
	color: #000;
}

#date, #time {
	color: #fff;
}

.box .title {
	color: #fff;
}

a, a:visited {
	color: #ddd;
}

a:hover, a:visited:hover {
	color: #fff;
}
*/

.title {
	display: none;
}

body {
	position:absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
}

section {
	margin: 12px;
	padding: 12px;
	/*border: 8px solid var(--fgdark);*/
	box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.13);
}
/*
section:hover {
	border: 8px solid var(--fglight);
}*/

section {
	background-color: var(--bglight);
	border-radius: 4px;
}

section:hover {
	background-color: var(--bglighter);
}
